.container.mt-5
  .row
    .col-md-4
      .card
        .card-body.text-center
          - if @user.icon.attached?
            = image_tag @user.icon, class: "img-fluid rounded-circle mb-3", alt: "User Icon", style: "width: 150px; height: 150px;"
          - else
            = image_tag "default_icon.png", class: "img-fluid rounded-circle mb-3", alt: "Default Icon", style: "width: 150px; height: 150px;"
          %h3= @user.name
    .col-md-8
      .card
        .card-body
          %h4 イベント一覧
          - if @events.any?
            %ul.list-group
              - @events.each do |event|
                %li.list-group-item
                  %strong= event.title
                  %p= event.content
                  %small.text-muted= event.created_at.strftime("%Y-%m-%d %H:%M")
          - else
            %p.text-muted イベントはまだありません。
