%h1.mt-3.mb-3= @event.name

.row
  .col-8 
    .card.mb-2
      - if @event.image.attached?
        = image_tag @event.image, class: "card-img-top"
      %h5.card-header イベント内容
      .card-body
        %p.cart-text= @event.content
    .card.mb-2 
      %h5.card-header 開催時間
      .card-body
        %p.card-text= "#{ l @event.start_at, format: :default } - #{ l @event.end_at, format: :default }"
    .card.mb-2
      %h5.card-header 場所
      .card-body 
        %p.card-text= @event.place
    .card.mb-2 
      %h5.card-header 主催者
      .card-body 
        - if @event.owner
          = link_to(url_for_github(@event.owner), class: "card-link", target: "_blank") do
            = image_tag @event.owner.image_url, class: "img-fluid rounded-circle border border-secondary shadow h-auto", style: "width: 50px; height: 50px;"
            = "@#{@event.owner.name}"
        - else 
          退会したユーザーです。
  .col-4
    - if current_user && current_user == @event.owner
      = link_to "編集", edit_event_path(@event), class: "btn btn-info btn-lg btn-block"
      = link_to "削除", event_path(@event), data: { turbo_confirm: "「#{ @event.name }」を本当に削除しますか？", turbo_method: :delete }, class: "btn btn-danger btn-lg btn-block"
    - if @have_ticket
      = link_to "参加キャンセル", event_ticket_path(@event), data: { turbo_method: :delete }, class: "btn btn-warning btn-lg btn-block mt-3"
    - elsif current_user
      %button.btn.btn-primary.btn-lg.btn-block.mt-3{ "data-bs-toggle": "modal", "data-bs-target": "#createTicket" }
        参加する
      .modal.fade#createTicket
        .modal-dialog
          .modal-content
            .modal-header.d-flex.justify-content-between
              %h4.modal-title#dialogHeader 参加コメント
              %button.close{ type: "button", "data-bs-dismiss": "modal" } &times;
            = form_with(model: @ticket, url: event_tickets_path(@event)) do |f|
              .modal-body
                = render "errors", { model: @ticket }
                = f.text_field :comment, class: "form-control"
              .modal-footer
                %button.btn.btn-default{ type: "button", "data-bs-dismiss": "modal" }
                  キャンセル
                = f.button "送信", class: "btn btn-primary"
    - else
      = link_to "参加する", new_event_ticket_path(@event), class: "btn btn-primary btn-lg btn-block"
    %hr
    .card.mb-2 
      %h5.card-header 参加者
      %ul.list-group.list-group-flush
        - @tickets.each do |ticket|
          %li.list-group-item
            - if ticket.user
              = link_to(url_for_github(ticket.user), class: "card-link") do
                = image_tag ticket.user.image_url, width: 20, height: 20
                = "@#{ ticket.user.name }"
              = ticket.comment
            - else
              退会したユーザーです。

= link_to "back", :back, class: "link-secondary"