!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EventManager
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.navbar.navbar-expand-sm.navbar-light.bg-light
      .container 
        = link_to "EventManager", root_path, class: "navbar-brand mr-auto"
        %ul.navbar-nav
          - if logged_in?
            %li.nav-item
              = link_to "イベントを作成",  
            %li.nav-item
              = link_to "ログアウト", logout_path, class: "nav-link", data: { turbo_method: :delete }
          - else
            %li.nav-item
              = button_to "GitHubでログイン", "/auth/github", class: "nav-link", data: { turbo: false }
    - if flash[:notice]
      .alert.alert-success.alert-dismissible.fade.show(role="alert")
        .container
          = flash[:notice]
          %button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")
    .container 
      = yield